<%= simple_form_for @home, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                homes_path, :class => 'btn btn-default' %>
<% end %>
