<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/homes">Reclamo Mesmo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                    <li>
                        <a href="#services">Serviços</a>
                    </li>
                    <li>
                        <a href="#contact">Contatos</a>
                    </li>
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastre-se<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href= "/users/sign_up">Cadastrar Usuário</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user_lojas/sign_in">Cadastrar Loja</a></li>
          </ul>
        </li>
    
       <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in?%>

                      <li><a href="/lojas">Lojas</a></li>
        <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>

        <% elsif user_loja_signed_in?%>

             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lojas<span class="caret"></span></a>
            <ul class="dropdown-menu">
             <li><a href="/lojas">Lojas</a></li>
                  <li role="separator" class="divider"></li>
              <li><a href="/lojas/new">Criar Loja</a></li>
            </ul>
          </li>
        <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>

      <% else %>
       
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/sign_in">Login para Usuários</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user_lojas/sign_in">Login para Lojas</a></li>
            </ul>
          </li>
          <li><a href="/homes">Lojas</a></li>

      <% end %>
      </ul>

                


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h1>Reclamo Mesmo</h1>
                        <h3>Um site onde o consumidor é ouvido</h3>
                        <hr class="intro-divider">

                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.facebook.com/pages/Park-Shopping/157505207718351?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="http://www.parkshopping.com.br/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Park Shopping</span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/parkshoppingbsb/?hl=pt" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Instagram</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Um site que preza <br>pela satisfação do cliente</h2>
                    <p class="lead">O Reclamo Mesmo<a href="/assets/imagem5.jpg/"> é um site que faz a ligação entre lojas físicas do Park Shopping e o cliente, onde este pode mostrar seu pensamento sobre um atendimento específico.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/965x500.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Suas insatisfações<br> e Elogios</h2>
                    <p class="lead"> serão levadas diretamente a loja responsável e esta irá te responder através desta plataforma. Você só precisa se cadastrar ao site e ter liberdade para reclamar!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/images/imagem5.jpg/" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Nunca mais passe raiva!<br></h2>
                    <p class="lead">Utilizando o Reclamo Mesmo, você terá o feedback que merece.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/1632x1002.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Contatos</h2>
                </div>
                <div class="col-lg-6">
                    <h2>Não temos qualquer relação com o Park SHopping, somente fazemos a ponte entre consumidor e fornecedor. Logo, contate-se com eles!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://www.parkshopping.com.br/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Park Shopping</span></a>
                        </li>
                        <li>
                            <a href="http://www.procon.df.gov.br/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Procon-DF</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>