<!DOCTYPE html>
<html>
  <head>
    <title>EP3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <!-- Navigation -->
    <body>

     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/homes">Reclamo Mesmo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                    <li>
                        <a href="#services">Serviço</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastre-se<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href= "/users/sign_up">Cadastrar Usuário</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user_lojas/sign_up">Cadastrar Loja</a></li>
          </ul>
        </li>
    
       <ul class="nav navbar-nav navbar-right">
<% if user_signed_in?%>

                      <li><a href="/lojas">Lojas</a></li>
        <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>

        <% elsif user_loja_signed_in?%>

             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lojas<span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="/lojas">Lojas</a></li>
                  <li role="separator" class="divider"></li>
              <li><a href="/lojas/new">Criar Loja</a></li>
            </ul>
          </li>
        <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>

      <% else %>
       
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/sign_in">Login para Usuários</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user_lojas/sign_in">Login para Lojas</a></li>
            </ul>
          </li>
           <li><a href="/homes">Lojas</a></li>
      <% end %>
      </ul>

                


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <%= yield %>
  </body>
</html>
